<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.xnxy.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.lee.xnxy.model.dao.comment.Comment">
        <id property="commentId" column="comment_id" jdbcType="BIGINT"/>
        <result property="postId" column="post_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="hasDeleted" column="has_deleted" jdbcType="TINYINT"/>
        <result property="ip" column="ip" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        comment_id,post_id,user_id,
        content,create_time,has_deleted,
        ip
    </sql>

    <update id="batchDeleteComment">
        update xnxy_comment set has_deleted = 1 where post_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">#{item}</foreach>
    </update>
</mapper>
